<div class="container mx-auto max-w-full lg:max-w-[1168px]">
  <div class="flex flex-col lg:flex-row justify-center lg:justify-between lg:justify-items-center items-center h-[100vh]">
    <div class="sign-bg text-white flex justify-center flex-col items-center gap-[16px] w-[400px]">
      <%= image_tag 'logo.png', class: 'rounded-[12px] w-[90px] lg:w-[120px] lg:mb-[30px]' %>
      <h1 class='h1'><%= t('site_name') %></h1>
      <p class='p mb-[80px]'><%= t('site_slogan') %></p>
      
    </div>
    <div class=''>
      <%= react_component 'devise/SignIn' %>
    </div>
  </div>
  <div class="absolute bottom-[10px] flex justify-center w-full lg:max-w-[1168px]">
    <p class='p text-gray'><%= t('auto_login_after_verified') %></p>
  </div>
</div>
