<%= #TODO 补充设计 %>
<div>
  <%= link_to '退出登录', destroy_user_session_path, data: {turbo_method: :delete} %>
</div>
<div>
  持卡数: <%= current_user.members_count %>
</div>
<div>
  邀请链接: <%= user_session_url(invitation_code: current_user.code) %>
</div>
<div>
  邀请列表: 
  <% current_user.invited_users.each do |user| %>
    <span>
      <%= encrypt_phone_number(user.name) if user.name != user.phone %>
    </span>
    <span>
      <%= encrypt_phone_number(user.phone) %>
    </span>
  <% end %>
</div>
