<!DOCTYPE html>
<html>
  <head>
    <title>MemberMemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body class='bg-[#F5F5F5]'>
    <div class="flex">
      <%= react_component 'layout/LeftSider', activeKey: params[:controller], logo: image_path('logo.png') %>
      <%= turbo_frame_tag "main_frame", class: 'w-full p-[20px] lg:p-[40px] h-[100vh] overflow-y-scroll' do %>
        <%= yield %>
      <% end%>
    </div>
  </body>
</html>
