<!DOCTYPE html>
<html>
  <head>
    <title><%= t('site_name') %></title>
    <meta name="keywords" content="会员卡, 会员影子, 会员卡包, 会员卡管理, 个人用户会员卡管理">
    <meta name="description" content="<%= t('site_slogan') %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%# 是否开启单页面，如果开启之后网站会非常流畅左侧的 sidebar 在每次切换的时候不会闪烁，但是每次访问之后的历史不会存储在浏览器的历史里面，导致浏览器的后退功能有问题 %>
    <meta name="turbo-visit-control" content="reload">
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="icon" type="image/png" href="/favicon.ico"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbo-track": "reload" %>
    <% if browser.wechat? %>
      <script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <% end %>
  </head>
  <body class='bg-[#fbfbfb]'>
    <div class="flex flex-col lg:flex-row">
      <%= react_component 'layout/LeftSider',
        activeKey: params[:controller],
        logo: image_path('logo.svg'),
        custom_qr_code: image_path("wechat_qr_code.jpg")
      %>
      <%= turbo_frame_tag "main_frame", class: 'w-full p-[20px] lg:p-[unset] relative' do %>
        <%= yield %>
        <a href="https://beian.miit.gov.cn/" class="hidden lg:block text-sm text-slate-400 absolute bottom-0 w-full py-[8px] text-center" target="_blank">蜀ICP备2023023829号-1</a>
      <% end%>
      <a href="https://beian.miit.gov.cn/" class="lg:hidden block text-sm text-slate-400 w-full py-[8px] text-center" target="_blank">蜀ICP备2023023829号-1</a>
    </div>
  </body>
  <%= render 'layouts/wechat_share' if browser.wechat? %>
</html>
