<!DOCTYPE html>
<html>
  <head>
    <title><%= t('site_name') %></title>
    <meta name="keywords" content="会员卡, 会员笔记, 会员卡包, 会员卡管理, 个人用户会员卡管理">
    <meta name="description" content="<%= t('site_slogan') %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-visit-control" content="reload">
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="icon" type="image/png" href="/favicon.ico"/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbo-track": "reload" %>
    <% if false && browser.wechat? %>
      <script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <% end %>
  </head>
  <body class='bg-[#F5F5F5]'>
    <%= yield %>
  </body>
  <%= render 'layouts/wechat_share' if false && browser.wechat? %>
</html>
