<div class="flex <%= @show_hidden ? 'justify-between' : 'justify-end' %> sticky top-[0px] z-[100] shadow left-0 p-[20px] mb-[20px] mx-[-20px] mt-[-20px] lg:m-0 lg:shadow lg:p-[20px] bg-white text-primary-599 ">
  <% if @show_hidden %>
    <%= link_to '不常用', hidden_members_path, class: "text-red-FF4" %>
    <h2 class="text-black-009 flex items-center font-bold">常用卡</h2>
  <% end %>
  <div class="flex items-center">
    <%= link_to '退出登录', destroy_user_session_path, data: {turbo_method: :delete} %>
    <%= react_component 'layout/WechatFloatWindow' if browser.wechat? %>
  </div>
</div>
<div class="pb-[40px]">
  <%= react_component "member/List",
    members: @members.map { |member| member.as_json_list },
    total_pages: @members.total_pages,
    current_page: @members.current_page,
    action: params[:action]
  %>
  <%= react_component "member/Create", userInfo: current_user.as_json_list, themesList: Member::THEMES.keys %>
</div>
